* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-list-item:nth-child(odd) {
  background-color: #acabab;
}

.nav-list {
  margin: 50px 0;
  width: 960px;
  list-style: none; /*liに*/
}

.nav-list-item {
  padding: 20px 0 20px 20px;
  color: #6c6c6c;
}

/* .main-block { 
  width: 960px;
  height: 250px;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}*/
   /*flexで均等に貼り付けるのではなく、、疑似クラスで同クラスの中から指定して効果をつける*/


/* .block {
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin: 0 0 40px 0;
}*/

.box-list {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin-bottom: 50px;
}

.box {
  background-color: #ffd700;
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
}

.box:first-child,
.box:nth-child(5),
.box:last-child {
  background-color: #ff8c00;
}

.box:nth-child(3n) {
  margin-right: 0;
}

.box:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
